<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <strong>Aula 03: Entrada e saída</strong>
    </div>

    <div>
      <ion-button [routerLink]="['/hello']">Hello</ion-button>
    </div>
    
    <div>
      <ion-button [routerLink]="['/ex01']">Exercício 01</ion-button>
    </div>

    <div>
      <ion-button [routerLink]="['/ex02a']">Exercício 02 (a)</ion-button>
    </div>

    <div>
      <ion-button [routerLink]="['/ex02b']">Exercício 02 (b)</ion-button>
    </div>


  </div>
</ion-content>
