<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Hello!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-input type="text" 
      placeholder="Nome" 
      name="nome"
      [(ngModel)]="nome"></ion-input>

    <ion-button type="submit">Enviar</ion-button>
  </form>

  <strong>{{mensagem}}</strong>

  <h2>{{nome}}</h2>
</ion-content>
