<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Exercício 02 (a)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-input type="number" 
      placeholder="N1" 
      name="n1"
      [(ngModel)]="n1"></ion-input>

    <ion-input type="number" 
      placeholder="N2" 
      name="n2"
      [(ngModel)]="n2"></ion-input>

    <ion-button (click)="soma()">Soma</ion-button>
    <ion-button (click)="sub()">Subtração</ion-button>
    <ion-button (click)="mult()">Multiplicação</ion-button>
    <ion-button (click)="div()">Divisão</ion-button>
  </form>

  <strong>{{saida}}</strong>
</ion-content>
